body {
	background-image:
		url('https://download.unsplash.com/photo-1426869884541-df7117556757');
	background-size: cover;
	background-position: center;
}

h1 {
	
}

.well p{
	font-size:1.2em;
	color:#ff1a75;
}

#sideContainer {
	float: right;
	width: 15%;
	height: 100%;
	background-color: grey;
	height: 100%;
}

#topContainer {
	height: 100%;
	width: 100%;
	background-image:
		url('https://download.unsplash.com/photo-1426869884541-df7117556757');
	background-size: cover;
	background-position: center;
}

#bottomContainer {
	background-color: pink;
	width: 80%;
	height: 100%;
}

#footer {
	background-color: black;
	width: 100%;
	height: 100%;
}

#footer p {
	color: white;
	text-align: center;
	height: 20px;
	float: bottom;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.container {
	
}

.form-control {
	margin-bottom: 20px;
}

#picture {
	margin-left:50px;
	margin-bottom: 80px;
	width: 640px;
	height: 640px;
	border: 6px inset pink;
	
}

.container well {
	background: pink;
}

.white {
	color: white;
}

.pink {
	color: pink;
}

textarea {
	width: 50%;
	height: 250px;
}

.box {
	float: left;
	width: 300px;
	height: 400px;
	margin: 1em;
	border: 6px inset pink;

}
.box2 {
	float: left;
	width: 300px;
	height: 400px;
	margin: 1em;
	border: 6px inset blue;
}

.after-box {
	clear: left;
}